<header class="header">

    <h1 class="header-heading">
      <a href="" class="header-link">
        Livro de Partos
      </a>
    </h1>

    <nav class="menu">
      <ul class="menu-list">
        {% if user.is_authenticated %}
          <li class="menu-item">
            <a href="{% url 'contact:livro' %}" class="menu-link">
              Livro
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'contact:create' %}" class="menu-link">
              Adicionar
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'contact:logout' %}" class="menu-link">
              Sair
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

    {% if user.is_authenticated %}
      <div class="search">
        <form 
          action="{% url 'contact:search' %}" 
          method="get"
        >
          <input 
            type="search"
            class="search-input"
            placeholder="Busca"
            id="search"
            name="q"
            value="{{ request.GET.q.strip }}"
          >
        </form>
      </div>
    {% endif %}
  </header>

  {% comment %} testando o git {% endcomment %}