{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2 class="single-contact-name">Novo registro</h2>

    <form 
      action="{% url 'contact:create' %}"
      method="POST"
      enctype="multipart/form-data"
    >
    
    {% csrf_token %}

      <div class="form-content">
        <div class="form-group">
          <label for="id_nome_da_gestante">Nome da gestante</label>
          <input type="text" name="nome_da_gestante" maxlength="255" id="id_nome_da_gestante">
        </div>
      </div>

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Salvar</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}